

#jd2 {
    margin-left: 600px;
}

#jd1 {
    margin-left: 400px;
}

#ts1 {
    margin-left: 350px;
   
}

.text {
    margin-left: 500px;
    margin-right: 500px;
}

#jdo {
    margin-left: 550px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

#logo {
    margin-left: 900px;
    margin-bottom: 30px;
}

.zanr {
    margin-left: 500px;
}
